{% extends "base.html" %}
{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<div class="auth-container">
    <div class="auth-box">
        <h2 class="auth-title">{% trans "Log In" %}</h2>

        {% if form.errors %}
        <div class="error-message">
            {% for field in form %}
            {% for error in field.errors %}
            <p>{{ error }}</p>
            {% endfor %}
            {% endfor %}
        </div>
        {% endif %}

        <form method="post" action="{% url 'account_login' %}">
            {% csrf_token %}
            <div class="form-group">
                {{ form.as_p }}
            </div>
            <button type="submit" class="btn-submit">{% trans "Log In" %}</button>
        </form>

        <p class="signup-text">
            {% trans "Welcome back to Fitsphere! To leave feedback on our trainers, proceed to log in here. If you do not have an account yet" %}
            <a href="{% url 'account_signup' %}"><br>{% trans "Sign up here" %}</a>
        </p>
    </div> <!-- Closing auth-box div -->
</div> <!-- Closing auth-container div -->
{% endblock %}