{% extends "base.html" %}
{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<h2>{% trans "Log in" %}</h2>

{% if form.errors %}
<div class="errors">
    {% for field in form %}
    {% for error in field.errors %}
    <p>{{ error }}</p>
    {% endfor %}
    {% endfor %}
</div>
{% endif %}

<form method="post" action="{% url 'account_login' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">{% trans "Log in" %}</button>
</form>

<p>{% trans "Welcome back to Fitsphere! To leave feedback on our trainers, procced to log in here. If you do not have an account yet," %}
    <a href="{% url 'account_signup' %}">{% trans "Sign up here" %}</a></p>

{% if SOCIALACCOUNT_ENABLED %}
{% include "socialaccount/snippets/login.html" %}
{% endif %}

<p><a href="{% url 'account_reset_password' %}">{% trans "Forgot your password?" %}</a></p>
{% endblock %}