{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- Full Trainer Profile Page -->
<div class="container mt-5">
    <div class="row">
        <div class="col-12 text-center">
            <img src="{{ trainer.featured_image.url }}" class="profile-image"
                alt="{{ trainer.first_name }} {{ trainer.last_name }}">
            <h2 class="mt-3">{{ trainer.first_name }} {{ trainer.last_name }}</h2>
            <p class="age"><strong>Age:</strong> {{ trainer.age }}</p>

            <!-- Display the average rating stars -->
            <div class="star-rating">
                {% for i in stars_range %}
                {% if i <= avg_rating %}
                <span class="fa fa-star checked"></span> <!-- Full Star -->
                {% elif i == avg_rating|add:0.5 %}
                <span class="fa fa-star-half-alt checked"></span> <!-- Half Star -->
                {% else %}
                <span class="fa fa-star"></span> <!-- Empty Star -->
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<div class="about-section">
    <h3>About {{ trainer.first_name }}:</h3>
    <p>{{ trainer.description }}</p>
</div>

<div class="row mt-4">
    <div class="col-12">

        <!-- Loop through the feedbacks and display each comment -->
        {% for feedback in feedbacks %}
        <div class="feedback-item">
            <h3>Comments:</h3>
            <p><strong>{{ feedback.user.username }}:</strong> {{ feedback.comment|safe }}</p>
        </div>
        {% endfor %}
    </div>
</div>

</div>
{% endblock %}